.navbar .navbar-nav .nav-link:hover{
color: #D4C2FC

}

.navbar-dark .navbar-brand {
  color: #D4C2FC;
}

.navbar-brand
{
  font-size: 30px;
}

.nav-link{
font-size: 19px;
}

html body {
    background-color: #D4C2FC;

}

#description{
 font-family: 'Brush Script MT', cursive;

}

#two{
 background-color: white;
}

.footer {
  background-color: #28262c;
}

#text_footer {
  color: white;
}

#title_footer {
  color: white;
}



#color {
  background-color: #D4C2FC;
}
#page {
  background-color: white;
}