{%extends "base.html"%}
{%block title%}Home Page{%endblock%}
{%block content%}
<div id="color">
<p class="text-center mt-5 display-3" id="About">"Difficult roads often lead to beautiful destinations."</p>
<div class="container">
  <div class="row">
        <div class="col order-2 mt-5 pt-5">
           <h1 class="text-center fade-in" >About me</h1>
           <h3 class="text-center fade-in" id="description">
            I am fascinated by the world of programming. I feel comfortable with programming in Python, web development (Flask), and data science (NumPy, Pandas). 
            So far, I have also created several GUI applications in this language. I am eager to pursue full-time employment in this field</h3>
        </div>
          <div class="col order-1">
          <img src="./static/coding.png" class="rounded float-left" alt="coding" style="width:550px;height:550px;">
      </div>
  </div>
</div>

</div>
<div id="two">
  <div class="portfolio ">
    <h1 class="text-center pt-4 fade-in" id="Portfolio">Portfolio</h1>
  </div>
  <div class="container pt-4 pb-4"> 
    <div class="row"> 
      {% for post in posts %}
        <div class="col-lg-4 mb-2"> 
            <div class="card"> 
                <img class="card-img-top" src="{{post.photo_url}}" alt=""> 

                <div class="card-body" > 
                    <h5 class="card-title text-center">{{post.title}}</h5> 
                    <p class="card-text"> 
                       {{post.short_content[:78]}} 
                    </p> 
                    <div class="d-flex justify-content-center">
                    <a href="{{url_for('project', title=post.title)}}" class="btn btn-outline-dark text-center btn-block"> 
                        Read 
                    </a> 
                  </div>
                </div> 
            </div> 
        </div> 
        {% endfor %}
    </div>  
  </div> 
</div> 
</div>
<div class="contact">
  <div class="contact">
    <h1 class="contact__text text-center pt-2 fade-in">
      Contact with me:
    </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col order-2">
        <img src="../static/contact.png" style="width:550px;height:550px;">
      </div>
        <div class="col order-1 mt-5 pt-5 pb-4" id="Contact">
          <p style="font-size: 30px;">Name: <b> Kacper Rostowski </b></p>
          <p style="font-size: 30px;">Age: <b>19 Years</b></p>
          <p style="font-size: 30px;">From: <b>Rzeszow, Poland</b></p>
          <p style="font-size: 30px;">E-mail: <b>Kacper.ros2@interia.pl</b></p>
          <a href="../static/cv.docx" download="cv"><button type="button" class="btn btn-outline-danger btn-lg">Download CV</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}